{% extends 'base.html' %}

{% block title %}Kaboom - {{ comic.name }}{% endblock %}

{% block content %}
<div class="header-img-container center" style="background-image: url('{{ comic.banner_image }}');">
    <div class="media-detail">
        <img src="{{ comic.cover_image }}" alt="{{ comic.name }} poster" class="media-poster">
        <div class="media-content">
            <h3>
                {{ comic.name }}
            </h3>
            {% if user.is_authenticated %}
            {% if not subscribed %}
            <a href="" class="btn btn-primary">Subscribe</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-sm-6">
            <p>
                {{ comic.summary }}
            </p>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <p style="margin-bottom: 0px;"><b>{{ comic.name }}</b></p>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}