{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<div class="header">
    <center>
        <h1>Set a new password!</h1>
    </center>
</div>
<div class="section container">
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Change my password" class="btn btn-primary">
    </form>
</div>

{% else %}

<div class="header">
    <center>
        <h1>Invalid link</h1>
    </center>
</div>
<div class="section container">
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.
    </p>
</div>

{% endif %}
{% endblock %}