@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold !important;
}

th {
    text-align: left !important;
}

.header {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    background: rgb(255, 95, 109);
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.about {
    padding: 10px;
    padding-top: 30px;
}

.section {
    padding: 25px;
}

.apps {
    padding-bottom: 35px;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/********************************************* ITEM DETAILS *********************************************/

.item-name, .item-detail, .kaboom-badge, .genre {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
}

.kaboom-badge {
    padding: 10px !important;
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
    color: rgb(19, 19, 19) !important;
    border-radius: 10px !important;
}

.genre {
    margin-right: 5px;
}

.rating {
    padding: 10px !important;
    color: rgb(19, 19, 19) !important;
    border-radius: 10px !important;
}

.rating-green {
    background-color: green;
}

.rating-amber {
    background-color: orange;
}

.rating-red {
    background-color: red;
}

.comic-cover {
    width: 100%;
    max-width: 195px;
    height: auto;
}

.generic-main-image {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.pfp {
    border-radius: 50%;
    border: 5px rgb(19, 19, 19) solid;
}

/********************************************* INFO CARDS *********************************************/

.info-card-body {
    background-color: white;
    border-radius: 10px;
}

.info-card {
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
}

.info-row {
    background-color: white;
    border-radius: 10px;
}

/********************************************* SMALL CARDS *********************************************/

.sm-card-result {
    height: 100%;
    width: 150px;
}

.sm-card-img-container {
    height: 150px;
    overflow: hidden;
    padding-bottom: 5px;
}

.sm-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.sm-card-name {
    height: 2em;
    display: block; 
    display: -webkit-box; /* Fallback for non-webkit */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.sm-card-link {
    margin-right: 17px !important;
    margin-bottom: 17px !important;
}

/********************************************* MAIN IMAGE *********************************************/

.main-image-wrapper {
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
}

.main-image {
    border-radius: 10px;
}

/*********************************************  *********************************************/

.cst-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.landing-card {
    padding: 12px !important;
}

.link {
    color: black !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(255, 95, 109) !important;
    border-color: rgb(255, 95, 109) !important;
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

::-moz-selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
}

::selection {
    color: rgb(255, 95, 109);
    background-color: rgba(255, 195, 113, 1);
}

.border-dark {
    border-color: gray !important;
}

.form-control:focus {
    border-color: rgb(255, 95, 109) !important;
    box-shadow: 0 0 0 0.25rem rgb(255 95 109 / 25%) !important;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 95 109 / 25%) !important;
}

.form-control {
    margin-bottom: 15px;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 95 109 / 25%) !important;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    color: rgb(19, 19, 19) !important;
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%) !important;
}

pre {
    padding: 15px;
    border: rgb(255, 95, 109) 1px solid;
    border-radius: 5px;
}

.carouselCards {
    background-color: rgba(255, 195, 113, 1) !important;
}

.bg-kaboom {
    background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%);
}

.fore-kaboom {
    color: rgb(19, 19, 19) !important;
}

.header-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 25px;
}

.media-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-poster {
    height: 300px;
}

.media-content {
    padding: 20px 20px 0px 20px;
}

.media-detail {
    padding: 25px;
    display: inline-block;
    height: auto !important;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 95, 109, 0.7) 0%, rgba(255, 195, 113, 0.7) 77%);
    backdrop-filter: blur(5px) !important;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.dropdown-menu-dark {
    background-color: var(--bs-body-color) !important;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.spacer {
    height: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 95, 109);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 95, 109);
}

@media only screen and (min-width: 575px) {

    /* For desktop: */
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 83px;
    }
}