{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% load html_templates %}

{% block title %}Kaboom - {{ comic.name }}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="sticky">
                <center>
                    <div class="main-image-wrapper">
                        {% if comic.cover_image %}
                        <img src="{{ comic.cover_image }}" alt="{{ comic.name }} cover" class="main-image comic-cover">
                        {% else %}
                        <img src="{% static 'images/noimage.png' %}" alt="No Image" class="main-image comic-cover">
                        {% endif %}
                    </div>
                </center>
                <div class="spacer"></div>
                <h3 class="item-name">{{ comic.name }}</h3>
                {% if comic.creator %}
                <a href="{% url 'creator' comic.creator.id comic.creator.slug %}" class="link"><h6>{{ comic.creator }}</h6></a>
                {% endif %}
                {% if comic.chapter_count %}
                <h6>{{ comic.chapter_count }} chapters</h6>
                {% endif %}
                <div>
                    {% if comic.rating %}
                    <h6 class="{{ rating_colour }} rating badge" title="Rating">{{ comic.rating }}</h6>
                    {% endif %}
                </div>
                <a href="" class="btn btn-primary">Add to progress</a>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <h5 id="comic-details"><span class="badge kaboom-badge fore-kaboom">Comic Details</span></h5>
            {% if genres %}
            <div class="flex">
                {% for genre in genres%}
                <a href="{% url 'genre' genre.slug %}">
                    <h6><span class="badge bg-kaboom fore-kaboom genre">{{ genre.name }}</span></h6>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <div class="info-card">
                <div class="flex info-row">
                    <div class="card-body info-card-body text-center">
                        <h5>STATUS</h5>
                        <p class="item-detail" style="margin-bottom: 0px;">{{ comic.status }}</p>
                    </div>
                    {% if comic.publisher %}
                    <div class="card-body info-card-body text-center">
                        <h5>PUBLISHER</h5>
                        <p class="item-detail" style="margin-bottom: 0px;">{{ comic.publisher }}</p>
                    </div>
                    {% endif %}
                    <div class="card-body info-card-body text-center">
                        <h5>FORMAT</h5>
                        <p class="item-detail" style="margin-bottom: 0px;">{{ comic.media_format }}</p>
                    </div>
                    {% if comic.date_started %}
                    <div class="card-body info-card-body text-center">
                        <h5>STARTED</h5>
                        <p class="item-detail" style="margin-bottom: 0px;">{{ comic.date_started }}</p>
                    </div>
                    {% endif %}
                    {% if comic.date_finished %}
                    <div class="card-body info-card-body text-center">
                        <h5>ENDED</h5>
                        <p class="item-detail" style="margin-bottom: 0px;">{{ comic.date_finished }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="spacer"></div>
            <div class="info-card">
                <div class="card-body info-card-body">
                    <p class="comic-description" style="margin-bottom: 0px;">{{ comic.description | bleach }}</p>
                </div>
            </div>
            <div class="spacer"></div>
            {% if characters %}
            <h5 id="characters"><span class="badge kaboom-badge fore-kaboom">Characters</span></h5>
            <div class="flex">
                {% for character in characters %}
                {% itemcard character.image character.name character.id character.slug 'character' %}
                {% endfor %}
            </div>
            <div class="spacer"></div>
            {% endif %}
            <h5 id="comments"><span class="badge kaboom-badge fore-kaboom">Comments</span></h5>
            <div class="info-card">
                <div class="card-body info-card-body">
                    <p class="comic-description" style="margin-bottom: 0px;">Comments coming soon</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}