{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% load html_templates %}

{% block title %}Kaboom - {{ creator.name }}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="sticky">
                <center>
                    <div class="main-image-wrapper">
                        {% if creator.image %}
                        <img src="{{ creator.image }}" alt="{{ creator.image }} image" class="main-image generic-main-image">
                        {% else %}
                        <img src="{% static 'images/noimage.png' %}" alt="No Image" class="main-image comic-cover">
                        {% endif %}
                    </div>
                </center>
                <div class="spacer"></div>
                <h3 class="item-name">{{ creator.name }}</h3>
                {% if creator.date_of_birth %}
                <h6><b>Birthday</b>: {{ creator.date_of_birth }} ({{ age }})</h6>
                {% endif %}
                {% if creator.date_of_death %}
                <h6><b>Death</b>: {{ creator.date_of_death }}</h6>
                {% endif %}
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <h5 id="creator-details"><span class="badge kaboom-badge fore-kaboom">Creator Details</span></h5>
            <div class="info-card">
                <div class="card-body info-card-body">
                    <p class="creator-description" style="margin-bottom: 0px;">{{ creator.description | bleach }}</p>
                </div>
            </div>
            <div class="spacer"></div>
            <h5 id="comics"><span class="badge kaboom-badge fore-kaboom">Comics</span></h5>
            {% if comics %}
            <div class="flex">
                {% for comic in comics %}
                {% itemcard comic.cover_image comic.name comic.id comic.slug 'comic' %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}