{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% load html_templates %}

{% block title %}Kaboom - {{ genre.name }} comics{% endblock %}

{% block content %}
<div class="container section">
    <h5 id="comics"><span class="badge kaboom-badge fore-kaboom">Comics</span></h5>
    {% if comics %}
    <div class="flex">
        {% for comic in comics %}
        {% itemcard comic.cover_image comic.name comic.id comic.slug 'comic' %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}