{% extends 'base.html' %}

{% load static %}

{% block title %}Kaboom - {{ publisher.name }}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="sticky">
                <center>
                    <div class="main-image-wrapper">
                        {% if publisher.logo %}
                        <img src="{{ publisher.logo }}" alt="{{ publisher.logo }} logo" class="main-image generic-main-image">
                        {% else %}
                        <img src="{% static 'images/noimage.png' %}" alt="No Image" class="main-image comic-cover">
                        {% endif %}
                    </div>
                </center>
                <div class="spacer"></div>
                {% if publisher.website %}
                <a href="{{ publisher.website }}" class="link"><h3 class="item-name">{{ publisher.name }}</h3></a>
                {% else %}
                <h3 class="item-name">{{ publisher.name }}</h3>
                {% endif %}
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <h5 id="comics"><span class="badge kaboom-badge fore-kaboom">Comics</span></h5>
            {% if comics %}
            <div class="flex">
                {% for comic in comics %}
                <a href="{% url 'comic' comic.id comic.slug %}" class="link sm-card-link" title="{{ comic.name }} ({{ comic.date_started.year }})">
                    <div class="info-card sm-card-result">
                        <div class="sm-card-img-container">
                            <img src="{{ comic.cover_image }}" alt="{{ comic.name }} image" class="sm-card-img">
                        </div>
                        <div class="card-body info-card-body">
                            <div class="sm-card-name">
                                <center>
                                    <h5 class="card-title" style="font-size: smaller; margin: 0px;">{{ comic.name }}</h5>
                                </center>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}