{% extends 'base.html' %}

{% load static %}
{% load html_templates %}

{% block title %}Kaboom - {{ publisher.name }}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="sticky">
                <center>
                    <div class="main-image-wrapper">
                        {% if publisher.logo %}
                        <img src="{{ publisher.logo }}" alt="{{ publisher.logo }} logo" class="main-image generic-main-image">
                        {% else %}
                        <img src="{% static 'images/noimage.png' %}" alt="No Image" class="main-image comic-cover">
                        {% endif %}
                    </div>
                </center>
                <div class="spacer"></div>
                {% if publisher.website %}
                <a href="{{ publisher.website }}" class="link"><h3 class="item-name">{{ publisher.name }}</h3></a>
                {% else %}
                <h3 class="item-name">{{ publisher.name }}</h3>
                {% endif %}
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <h5 id="comics"><span class="badge kaboom-badge fore-kaboom">Comics</span></h5>
            {% if comics %}
            <div class="flex">
                {% for comic in comics %}
                {% itemcard comic.cover_image comic.name comic.id comic.slug 'comic' %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}