{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% load html_templates %}

{% block title %}Kaboom - {{ team.name }}{% endblock %}

{% block content %}
<div class="container section">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="sticky">
                <center>
                    <div class="main-image-wrapper">
                        {% if team.logo %}
                        <img src="{{ team.logo }}" alt="{{ team.name }} cover" class="main-image generic-main-image">
                        {% else %}
                        <img src="{% static 'images/noimage.png' %}" alt="No Image" class="main-image comic-cover">
                        {% endif %}
                    </div>
                </center>
                <div class="spacer"></div>
                <h3 class="item-name">{{ team.name }}</h3>
                {% if team.disbanded == True %}
                <h6><b>Disbanded</b>: Yes</h6>
                {% else %}
                <h6><b>Disbanded</b>: No</h6>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-8">
            <h5 id="team-details"><span class="badge kaboom-badge fore-kaboom">Team Details</span></h5>
            <div class="info-card">
                <div class="card-body info-card-body">
                    <p class="creator-description" style="margin-bottom: 0px;">{{ team.description | bleach }}</p>
                </div>
            </div>
            <div class="spacer"></div>
            {% if characters %}
            <h5 id="characters"><span class="badge kaboom-badge fore-kaboom">Characters</span></h5>
            <div class="flex">
                {% for character in characters %}
                {% itemcard character.image character.name character.id character.slug 'character' %}
                {% endfor %}
            </div>
            <div class="spacer"></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}