{% extends 'base.html' %}

{% block content %}
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="section container">
    <div class="row">
        <div class="col-sm-6">
            <!-- Profile -->
            <div class="info-card">
                <div class="card-body info-card-body cst-container">
                    <img src="{{ image }}" alt="profile" class="pfp">
                    <br>
                    <h3>{{ user.username }}</h3>
                    {% if user.is_staff %}
                    <a href="/admin" class="btn btn-primary">Kaboom Admin</a>
                    {% endif %}
                </div>
            </div>
            <div class="spacer"></div>
            <!-- Progress -->
            <div class="info-card">
                <div class="card-body info-card-body cst-container">
                    <p class="comic-description" style="margin-bottom: 0px;">Progress coming soon.</p>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="col-sm-6">
            <!-- Submissions -->
            <div class="info-card">
                <div class="card-body info-card-body cst-container">
                    <p class="comic-description" style="margin-bottom: 0px;">Submissions coming soon.</p>
                </div>
            </div>
            <div class="spacer"></div>
            <!-- Comments -->
            <div class="info-card">
                <div class="card-body info-card-body cst-container">
                    <p class="comic-description" style="margin-bottom: 0px;">Comments coming soon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}