{% extends 'base.html' %}

{% load markdown_extras %}
{% load bleach_tags %}

{% block content %}
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="section container">
    <div class="row">
        <div class="col-sm-6">
            <!-- Profile -->
            <div class="card mb-3" style="max-width: auto; height: auto;">
                <div class="card-header cst-container">
                    <img src="{{ image }}" alt="profile" class="pfp">
                    <br>
                    <h3>{{ user.username }}</h3>
                </div>
                <div class="card-body text-dark">
                    {% if user.bio %}
                    <p>{{ user.bio | markdown | bleach }}</p>
                    <hr>
                    {% endif %}
                    <p>Member since {{ user.date_joined }}</p>
                    <p>Last logged in at {{ user.last_login }}</p>
                    <p><span title="Only you can see this">🔒</span> <b>Email: </b> {{ user.email }}</p>
                    {% if user.private == False %}
                    <p><b>Private: </b>No</p>
                    {% else %}
                    <p><b>Private: </b>Yes</p>
                    {% endif %}
                    <hr>
                    <a href="/" class="btn btn-primary">Edit Account</a>
                    <!-- <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a> -->
                    {% if user.is_staff %}
                    <a href="/admin" class="btn btn-primary">Kaboom Admin</a>
                    {% endif %}
                </div>
            </div>
            <!-- Submissions -->
            <div class="card mb-3" style="max-width: auto; height: auto;">
                <div class="card-header cst-container">
                    Submissions coming soon.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Progress -->
            <div class="card mb-3" style="max-width: auto; height: auto;">
                <div class="card-header cst-container">
                    Progress coming soon.
                </div>
            </div>
            <!-- Thoughts -->
            <div class="card mb-3" style="max-width: auto; height: auto;">
                <div class="card-header cst-container">
                    Thoughts coming soon.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}