{% extends 'base.html' %}

{% load static %}

{% block title %}Kaboom - The comic book and cartoon tracker{% endblock %}

{% block content %}
<div class="about container">
    <h3>All your comics in one place.</h3>
    <p>Kaboom is a database of comics. It contains information about comic series, publishers,
        characters and so on. You can also create an
        account and track the issues that you have read.</p>
    <a href="{% url 'signup' %}" class="btn btn-primary">Create your account!</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 landing-card">
            <div class="info-card" style="width: auto;">
                <div class="cst-container">
                    <h1>📚 {{num_of_comics}}</h1>
                </div>
                <div class="card-body info-card-body">
                    <h5 class="card-title">Comics</h5>
                    <p class="card-text">We currently have {{num_of_comics}} comics in our database!</p>
                    <a href="/v1/comics" class="btn btn-primary" id="comic-link">Comics</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 landing-card">
            <div class="info-card" style="width: auto;">
                <div class="cst-container">
                    <h1>😃 {{num_of_users}}</h1>
                </div>
                <div class="card-body info-card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Join {{num_of_users}} others in tracking their favourite comics!</p>
                    <a href="{% url 'signup' %}" class="btn btn-primary">Join now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="apps section container">
    <h3 id="apps-list">Apps & Integrations</h3>
    <br>
    <div class="flex">
        <a href="/" class="link">
            <div class="info-card sm-card-result">
                <div class="sm-card-img-container">
                    <img src="{% static 'images/logo-black.svg' %}" alt="logo" class="sm-card-img">
                </div>
                <div class="card-body info-card-body">
                    <center><h5 class="card-title" style="font-size: smaller; margin: 0px;">Kaboom Website</h5></center>
                </div>
            </div>
        </a>
    </div>
    <br>
    <p>Want to make your own app? Check out the <a href="/" class="link">docs</a>!</p>
    <h6>Note for developers: Make sure to read the <a href="/" class="link">Developer Guidlines</a> before making an app.
    </h6>
</div>
<!-- <div class="section container">
    <h3 id="support-the-project">Want to support the development of Kaboom?</h3>
    <p>There are a few ways you can support Kaboom:</p>
    <h5>Donations</h5>
    <p>Donate to the project, all proceedings will go towards improvements for Kaboom.</p>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="R7R4U3ED99G74" />
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit"
            title="Donate with PayPal" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <br>
    <h5 id="contribute">Contribute</h5>
    <p>If you're a developer you can also <a href="https://github.com/kaboom-db/kaboom" class="link">contribute</a> to the
        project as Kaboom is <a href="https://en.wikipedia.org/wiki/Open_source" class="link">open source</a>. You can also make your
        own <a href="/" class="link">app</a>.</p>
</div> -->
{% endblock %}